.main-content h1 {
   font-size: 2.5rem;
   margin-bottom: 0.5rem;
}

.main-content p {
   font-size: 1.2rem;
   color: #6c757d;
}

button {
   font-size: 1.1rem;
   padding: 10px 15px;
}

button:hover {
   opacity: 0.9;
}